<head>
  <style type="text/css">
    .index_link {color: yellow; font-size: 32px}
    .header_bar {background-color: purple; width: 100%; height:15%}
  </style>
</head>

<div class="header_bar">
  <%= link_to "Private Events", index_path, :class => "index_link" %>
</div>